@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", Helvetica, sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Cabeçalho Superior */
.search-bg {
    background-color: #202C33;
}

.search-bg a {
    color: #AEBAC1;
    font-size: 2em;
    padding: 10px;
}

.search {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Header - Barra de navegação */

.header-bg {
    background-color: #202C33;
}

.header-bg a {
    color: #AEBAC1;
    /* #00A884 */
}

.menu{
    max-width: 960px;
    margin: 0 auto;
    /* padding: 15px 0; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    display: flex;
}

.menu-itens ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-itens a {
    font-size: 1em;
    display: block;
    padding: 10px;
}

.menu-itens a:hover {
    border-bottom: 3px solid #00A884;
    color: #00A884;
    font-weight: bold;
    /* transition-duration: 0.2s; transition está bugando a linha*/
}

/* conversas */

.main-bg {
    background-color: #111B21;
    height: 300px;
}