@charset "UTF-8";

div.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: blueviolet;
    text-align: center;
    border: 1px solid #ccc;
}
/* Flex */
.flex {
    display: flex;
}
/* Classe item */
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}
/* Section */
section {
    border: 1px solid #ccc;
    width: 400px;
}

.flex-wrap {
    flex-wrap: wrap;
}